body {
}

.indexNav, .TopPic {
    margin: 10px;
}

header, nav, .navitem {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border: 0 solid #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

.XajnB {
    -webkit-flex-basis: 75px;
    -ms-flex-preferred-size: 75px;
    flex-basis: 75px;
}

.NXc7H, .XajnB {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}

header, nav, .navitem {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border: 0 solid #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

._lz6s {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .0975);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-transition: height .2s ease-in-out;
    transition: height .2s ease-in-out;
    height: 77px;
}

.MWDvN, ._lz6s, .aUCRo {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.MWDvN {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 77px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 1010px;
    padding: 26px 20px;
    -webkit-transition: height .2s ease-in-out;
    transition: height .2s ease-in-out;
    width: 100%;
}

.oJZym {
    -webkit-box-flex: 1;
    -webkit-flex: 1 9999 0%;
    -ms-flex: 1 9999 0%;
    flex: 1 9999 0%;
    min-width: 40px;
}

.myLogo {
    margin-left: 10%;
}

.myLogo {
    height: 70%;
    width: 70%;
    margin-right: 10%;
}

img {
    vertical-align: middle;
    border-style: none;
}

.LWmhU {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    /* flex: 0 1 auto; */
    /* min-width: 125px; */
    /* width: 215px; */
}

.x3qfX {
    -webkit-appearance: none;
    /* font-size: 14px; */
}

.XTCLo {
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: #262626;
    outline: 0;
    padding: 3px 10px 3px 26px;
    z-index: 2;
}

.ctQZg {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0%;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.ZcHy5, ._47KiJ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 24px;
    white-space: nowrap;
}

.glyphsSpriteAdd__outline__24__blue_5, .glyphsSpriteAdd__outline__24__grey_9, .glyphsSpriteApp_Icon, .glyphsSpriteApp_Icon_Mobile, .glyphsSpriteApp_instagram__outline__24__grey_9, .glyphsSpriteApp_messenger__outline__24__grey_9, .glyphsSpriteApp_twitter__outline__24__grey_9, .glyphsSpriteApp_whatsapp__outline__24__grey_9, .glyphsSpriteCall__outline__24__grey_9, .glyphsSpriteCamera__outline__24__grey_9, .glyphsSpriteChevron_left__outline__24__grey_9, .glyphsSpriteChevron_right__outline__24__grey_5, .glyphsSpriteCircle__outline__24__grey_2, .glyphsSpriteCircle_add__outline__24__grey_5, .glyphsSpriteCircle_add__outline__24__grey_9, .glyphsSpriteCircle_check__filled__24__blue_5, .glyphsSpriteComment__outline__24__grey_9, .glyphsSpriteComment_like, .glyphsSpriteComment_like_active, .glyphsSpriteContact_import, .glyphsSpriteContact_import_sm, .glyphsSpriteDelete__outline__24__grey_0, .glyphsSpriteDirect__outline__24__grey_0, .glyphsSpriteDirect__outline__24__grey_9, .glyphsSpriteDirect_glyph_heart, .glyphsSpriteFB_Logo, .glyphsSpriteFacebook__filled__24__fb_connect_blue, .glyphsSpriteFacebook__outline__24__grey_9, .glyphsSpriteForward__outline__24__grey_9, .glyphsSpriteGlyph_circle_star, .glyphsSpriteGlyph_heart_media, .glyphsSpriteGlyph_heart_media_outline, .glyphsSpriteGlyph_volume_off, .glyphsSpriteGrey_Close, .glyphsSpriteHashtag__outline__24__grey_9, .glyphsSpriteHeart__filled__24__grey_9, .glyphsSpriteHeart__filled__24__red_5, .glyphsSpriteHeart__outline__24__grey_9, .glyphsSpriteHome__filled__24__grey_9, .glyphsSpriteHome__outline__24__grey_9, .glyphsSpriteIG_Lite_Direct_Variant_01, .glyphsSpriteIgtv__outline__24__blue_5, .glyphsSpriteIgtv__outline__24__grey_5, .glyphsSpriteInfo__outline__24__grey_9, .glyphsSpriteInput_clear, .glyphsSpriteLink__outline__24__grey_9, .glyphsSpriteLite_app_icon, .glyphsSpriteLocation__outline__24__grey_9, .glyphsSpriteLock__outline__24__grey_9, .glyphsSpriteLogged_Out_QP_Glyph, .glyphsSpriteMail__outline__24__grey_9, .glyphsSpriteMobile_nav_type_logo, .glyphsSpriteMore_horizontal__filled__24__grey_0, .glyphsSpriteMore_horizontal__outline__24__grey_5, .glyphsSpriteMore_horizontal__outline__24__grey_9, .glyphsSpriteNew_post__outline__24__grey_9, .glyphsSpritePaging_chevron, .glyphsSpritePhoto__outline__24__grey_9, .glyphsSpritePhoto_grid__outline__24__blue_5, .glyphsSpritePhoto_grid__outline__24__grey_5, .glyphsSpritePhoto_list__outline__24__blue_5, .glyphsSpritePhoto_list__outline__24__grey_5, .glyphsSpriteSafari__outline__24__grey_9, .glyphsSpriteSave__filled__24__grey_9, .glyphsSpriteSave__outline__24__blue_5, .glyphsSpriteSave__outline__24__grey_5, .glyphsSpriteSave__outline__24__grey_9, .glyphsSpriteSearch, .glyphsSpriteSearch__filled__24__grey_9, .glyphsSpriteSearch__outline__24__grey_9, .glyphsSpriteSettings__outline__24__grey_9, .glyphsSpriteShare__outline__24__grey_9, .glyphsSpriteTag_up__outline__24__blue_5, .glyphsSpriteTag_up__outline__24__grey_5, .glyphsSpriteUser__filled__24__grey_0, .glyphsSpriteUser__filled__24__grey_9, .glyphsSpriteUser__outline__24__grey_9, .glyphsSpriteUser_follow__outline__24__grey_9, .glyphsSpriteUsers__outline__24__grey_9, .glyphsSpriteVerified_small, .glyphsSpriteVideo_chat__outline__24__grey_9, .glyphsSpriteWhatsapp__outline__24__grey_9, .glyphsSpriteWhite_Close, .glyphsSpriteX__outline__24__grey_9 {
    background-image: url(../image/7f5bab945363.png)
}

.glyphsSpriteAdd__outline__24__blue_5, .glyphsSpriteAdd__outline__24__grey_9 {
    background-repeat: no-repeat;
    background-position: -78px -177px;
    height: 24px;
    width: 24px
}

.glyphsSpriteAdd__outline__24__grey_9 {
    background-position: -52px -229px
}

.glyphsSpriteApp_Icon, .glyphsSpriteApp_Icon_Mobile {
    background-repeat: no-repeat;
    background-position: -127px 0;
    height: 60px;
    width: 60px
}

.glyphsSpriteApp_Icon {
    background-position: -189px -40px;
    height: 30px;
    width: 30px
}

.glyphsSpriteApp_instagram__outline__24__grey_9 {
    background-repeat: no-repeat;
    background-position: -104px -177px;
    height: 24px;
    width: 24px
}

.glyphsSpriteApp_messenger__outline__24__grey_9, .glyphsSpriteApp_twitter__outline__24__grey_9 {
    background-repeat: no-repeat;
    background-position: 0 -203px;
    height: 24px;
    width: 24px
}

.glyphsSpriteApp_twitter__outline__24__grey_9 {
    background-position: -130px -203px
}

.glyphsSpriteApp_whatsapp__outline__24__grey_9, .glyphsSpriteCall__outline__24__grey_9 {
    background-repeat: no-repeat;
    background-position: 0 -229px;
    height: 24px;
    width: 24px
}

.glyphsSpriteCall__outline__24__grey_9 {
    background-position: -156px -229px
}

.glyphsSpriteCamera__outline__24__grey_9, .glyphsSpriteChevron_left__outline__24__grey_9 {
    background-repeat: no-repeat;
    background-position: -257px 0;
    height: 24px;
    width: 24px
}

.glyphsSpriteChevron_left__outline__24__grey_9 {
    background-position: -257px -52px
}

.glyphsSpriteChevron_right__outline__24__grey_5, .glyphsSpriteCircle__outline__24__grey_2 {
    background-repeat: no-repeat;
    background-position: -127px -120px;
    height: 24px;
    width: 24px
}

.glyphsSpriteCircle__outline__24__grey_2 {
    background-position: -153px -120px
}

.glyphsSpriteCircle_add__outline__24__grey_5, .glyphsSpriteCircle_add__outline__24__grey_9 {
    background-repeat: no-repeat;
    background-position: -105px -146px;
    height: 24px;
    width: 24px
}

.glyphsSpriteCircle_add__outline__24__grey_9 {
    background-position: -131px -146px
}

.glyphsSpriteCircle_check__filled__24__blue_5, .glyphsSpriteComment__outline__24__grey_9 {
    background-repeat: no-repeat;
    background-position: -157px -146px;
    height: 24px;
    width: 24px
}

.glyphsSpriteComment__outline__24__grey_9 {
    background-position: 0 -177px
}

.glyphsSpriteComment_like, .glyphsSpriteComment_like_active {
    background-repeat: no-repeat;
    background-position: -283px -247px;
    height: 11px;
    width: 12px
}

.glyphsSpriteComment_like {
    background-position: -283px -234px
}

.glyphsSpriteContact_import_sm {
    background-repeat: no-repeat;
    background-position: -189px -106px;
    height: 28px;
    width: 23px
}

.glyphsSpriteContact_import {
    background-repeat: no-repeat;
    background-position: -189px -72px;
    height: 32px;
    width: 25px
}

.glyphsSpriteDelete__outline__24__grey_0 {
    background-repeat: no-repeat;
    background-position: -130px -177px;
    height: 24px;
    width: 24px
}

.glyphsSpriteDirect__outline__24__grey_0, .glyphsSpriteDirect__outline__24__grey_9 {
    background-repeat: no-repeat;
    background-position: -156px -177px;
    height: 24px;
    width: 24px
}

.glyphsSpriteDirect__outline__24__grey_9 {
    background-position: -182px -177px
}

.glyphsSpriteDirect_glyph_heart {
    background-repeat: no-repeat;
    background-position: -189px 0;
    height: 38px;
    width: 40px
}

.glyphsSpriteFacebook__filled__24__fb_connect_blue {
    background-repeat: no-repeat;
    background-position: -26px -203px;
    height: 24px;
    width: 24px
}

.glyphsSpriteFB_Logo, .glyphsSpriteFacebook__outline__24__grey_9 {
    background-repeat: no-repeat;
    background-position: -52px -203px;
    height: 24px;
    width: 24px
}

.glyphsSpriteFB_Logo {
    background-position: -283px -188px;
    height: 16px;
    width: 16px
}

.glyphsSpriteForward__outline__24__grey_9 {
    background-repeat: no-repeat;
    background-position: -104px -203px;
    height: 24px;
    width: 24px
}

.glyphsSpriteGlyph_circle_star {
    background-repeat: no-repeat;
    background-position: -74px -72px;
    height: 48px;
    width: 48px
}

.glyphsSpriteGlyph_heart_media, .glyphsSpriteGlyph_heart_media_outline {
    background-repeat: no-repeat;
    background-position: -283px -152px;
    height: 16px;
    width: 18px
}

.glyphsSpriteGlyph_heart_media {
    background-position: -283px -170px
}

.glyphsSpriteGlyph_volume_off, .glyphsSpriteGrey_Close {
    background-repeat: no-repeat;
    background-position: -283px -206px;
    height: 12px;
    width: 12px
}

.glyphsSpriteGrey_Close {
    background-position: -297px -220px;
    height: 9px;
    width: 9px
}

.glyphsSpriteHashtag__outline__24__grey_9, .glyphsSpriteHeart__filled__24__grey_9 {
    background-repeat: no-repeat;
    background-position: -231px -52px;
    height: 24px;
    width: 24px
}

.glyphsSpriteHeart__filled__24__grey_9 {
    background-position: -231px -78px
}

.glyphsSpriteHeart__filled__24__red_5, .glyphsSpriteHeart__outline__24__grey_9 {
    background-repeat: no-repeat;
    background-position: -231px -104px;
    height: 24px;
    width: 24px
}

.glyphsSpriteHeart__outline__24__grey_9 {
    background-position: -231px -130px
}

.glyphsSpriteHome__filled__24__grey_9, .glyphsSpriteHome__outline__24__grey_9 {
    background-repeat: no-repeat;
    background-position: -231px -156px;
    height: 24px;
    width: 24px
}

.glyphsSpriteHome__outline__24__grey_9 {
    background-position: -231px -182px
}

.glyphsSpriteIG_Lite_Direct_Variant_01 {
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 70px;
    width: 125px
}

.glyphsSpriteIgtv__outline__24__blue_5, .glyphsSpriteIgtv__outline__24__grey_5 {
    background-repeat: no-repeat;
    background-position: -26px -229px;
    height: 24px;
    width: 24px
}

.glyphsSpriteIgtv__outline__24__grey_5 {
    background-position: -189px -136px
}

.glyphsSpriteInfo__outline__24__grey_9, .glyphsSpriteInput_clear {
    background-repeat: no-repeat;
    background-position: -78px -229px;
    height: 24px;
    width: 24px
}

.glyphsSpriteInput_clear {
    background-position: -283px -130px;
    height: 20px;
    width: 20px
}

.glyphsSpriteLink__outline__24__grey_9, .glyphsSpriteLite_app_icon {
    background-repeat: no-repeat;
    background-position: -130px -229px;
    height: 24px;
    width: 24px
}

.glyphsSpriteLite_app_icon {
    background-position: 0 -72px;
    height: 72px;
    width: 72px
}

.glyphsSpriteLocation__outline__24__grey_9, .glyphsSpriteLock__outline__24__grey_9 {
    background-repeat: no-repeat;
    background-position: -182px -229px;
    height: 24px;
    width: 24px
}

.glyphsSpriteLock__outline__24__grey_9 {
    background-position: -208px -229px
}

.glyphsSpriteLogged_Out_QP_Glyph {
    background-repeat: no-repeat;
    background-position: -127px -62px;
    height: 56px;
    width: 56px
}

.glyphsSpriteMail__outline__24__grey_9 {
    background-repeat: no-repeat;
    background-position: -257px -26px;
    height: 24px;
    width: 24px
}

.glyphsSpriteMobile_nav_type_logo {
    background-repeat: no-repeat;
    background-position: 0 -146px;
    height: 29px;
    width: 103px
}

.glyphsSpriteMore_horizontal__filled__24__grey_0, .glyphsSpriteMore_horizontal__outline__24__grey_5 {
    background-repeat: no-repeat;
    background-position: -257px -78px;
    height: 24px;
    width: 24px
}

.glyphsSpriteMore_horizontal__outline__24__grey_5 {
    background-position: -257px -104px
}

.glyphsSpriteMore_horizontal__outline__24__grey_9, .glyphsSpriteNew_post__outline__24__grey_9 {
    background-repeat: no-repeat;
    background-position: -257px -130px;
    height: 24px;
    width: 24px
}

.glyphsSpriteNew_post__outline__24__grey_9 {
    background-position: -257px -156px
}

.glyphsSpritePaging_chevron, .glyphsSpritePhoto__outline__24__grey_9 {
    background-repeat: no-repeat;
    background-position: -257px -182px;
    height: 24px;
    width: 24px
}

.glyphsSpritePhoto__outline__24__grey_9 {
    background-position: -257px -208px
}

.glyphsSpritePhoto_grid__outline__24__blue_5, .glyphsSpritePhoto_grid__outline__24__grey_5 {
    background-repeat: no-repeat;
    background-position: 0 -255px;
    height: 24px;
    width: 24px
}

.glyphsSpritePhoto_grid__outline__24__grey_5 {
    background-position: -26px -255px
}

.glyphsSpritePhoto_list__outline__24__blue_5, .glyphsSpritePhoto_list__outline__24__grey_5 {
    background-repeat: no-repeat;
    background-position: -52px -255px;
    height: 24px;
    width: 24px
}

.glyphsSpritePhoto_list__outline__24__grey_5 {
    background-position: -78px -255px
}

.glyphsSpriteSafari__outline__24__grey_9, .glyphsSpriteSave__filled__24__grey_9 {
    background-repeat: no-repeat;
    background-position: -104px -255px;
    height: 24px;
    width: 24px
}

.glyphsSpriteSave__filled__24__grey_9 {
    background-position: -130px -255px
}

.glyphsSpriteSave__outline__24__blue_5, .glyphsSpriteSave__outline__24__grey_5 {
    background-repeat: no-repeat;
    background-position: -156px -255px;
    height: 24px;
    width: 24px
}

.glyphsSpriteSave__outline__24__grey_5 {
    background-position: -182px -255px
}

.glyphsSpriteSave__outline__24__grey_9, .glyphsSpriteSearch__filled__24__grey_9 {
    background-repeat: no-repeat;
    background-position: -208px -255px;
    height: 24px;
    width: 24px
}

.glyphsSpriteSearch__filled__24__grey_9 {
    background-position: -234px -255px
}

.glyphsSpriteSearch, .glyphsSpriteSearch__outline__24__grey_9 {
    background-repeat: no-repeat;
    background-position: -283px 0;
    height: 24px;
    width: 24px
}

.glyphsSpriteSearch {
    background-position: -297px -206px;
    height: 10px;
    width: 10px
}

.glyphsSpriteSettings__outline__24__grey_9 {
    background-repeat: no-repeat;
    background-position: -283px -52px;
    height: 24px;
    width: 24px
}

.glyphsSpriteShare__outline__24__grey_9, .glyphsSpriteTag_up__outline__24__blue_5 {
    background-repeat: no-repeat;
    background-position: -283px -78px;
    height: 24px;
    width: 24px
}

.glyphsSpriteTag_up__outline__24__blue_5 {
    background-position: -283px -26px
}

.glyphsSpriteTag_up__outline__24__grey_5, .glyphsSpriteUser__filled__24__grey_0 {
    background-repeat: no-repeat;
    background-position: -104px -229px;
    height: 24px;
    width: 24px
}

.glyphsSpriteUser__filled__24__grey_0 {
    background-position: -231px -26px
}

.glyphsSpriteUser__filled__24__grey_9, .glyphsSpriteUser__outline__24__grey_9 {
    background-repeat: no-repeat;
    background-position: -231px 0;
    height: 24px;
    width: 24px
}

.glyphsSpriteUser__outline__24__grey_9 {
    background-position: -182px -203px
}

.glyphsSpriteUser_follow__outline__24__grey_9, .glyphsSpriteUsers__outline__24__grey_9 {
    background-repeat: no-repeat;
    background-position: -156px -203px;
    height: 24px;
    width: 24px
}

.glyphsSpriteUsers__outline__24__grey_9 {
    background-position: -78px -203px
}

.glyphsSpriteVerified_small {
    background-repeat: no-repeat;
    background-position: -283px -220px;
    height: 12px;
    width: 12px
}

.glyphsSpriteVideo_chat__outline__24__grey_9 {
    background-repeat: no-repeat;
    background-position: -52px -177px;
    height: 24px;
    width: 24px
}

.glyphsSpriteWhatsapp__outline__24__grey_9, .glyphsSpriteWhite_Close {
    background-repeat: no-repeat;
    background-position: -26px -177px;
    height: 24px;
    width: 24px
}

.glyphsSpriteWhite_Close {
    background-position: -297px -234px;
    height: 9px;
    width: 9px
}

.glyphsSpriteX__outline__24__grey_9 {
    background-repeat: no-repeat;
    background-position: -283px -104px;
    height: 24px;
    width: 24px
}

@media (min-device-pixel-ratio:1.5), (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
    .glyphsSpriteAdd__outline__24__blue_5, .glyphsSpriteAdd__outline__24__grey_9, .glyphsSpriteApp_Icon, .glyphsSpriteApp_instagram__outline__24__grey_9, .glyphsSpriteApp_messenger__outline__24__grey_9, .glyphsSpriteApp_twitter__outline__24__grey_9, .glyphsSpriteApp_whatsapp__outline__24__grey_9, .glyphsSpriteCall__outline__24__grey_9, .glyphsSpriteCamera__outline__24__grey_9, .glyphsSpriteChevron_left__outline__24__grey_9, .glyphsSpriteChevron_right__outline__24__grey_5, .glyphsSpriteCircle__outline__24__grey_2, .glyphsSpriteCircle_add__outline__24__grey_5, .glyphsSpriteCircle_add__outline__24__grey_9, .glyphsSpriteCircle_check__filled__24__blue_5, .glyphsSpriteComment__outline__24__grey_9, .glyphsSpriteComment_like, .glyphsSpriteComment_like_active, .glyphsSpriteContact_import, .glyphsSpriteContact_import_sm, .glyphsSpriteDelete__outline__24__grey_0, .glyphsSpriteDirect__outline__24__grey_0, .glyphsSpriteDirect__outline__24__grey_9, .glyphsSpriteDirect_glyph_heart, .glyphsSpriteFB_Logo, .glyphsSpriteFacebook__filled__24__fb_connect_blue, .glyphsSpriteFacebook__outline__24__grey_9, .glyphsSpriteForward__outline__24__grey_9, .glyphsSpriteGlyph_circle_star, .glyphsSpriteGlyph_heart_media, .glyphsSpriteGlyph_heart_media_outline, .glyphsSpriteGlyph_volume_off, .glyphsSpriteGrey_Close, .glyphsSpriteHashtag__outline__24__grey_9, .glyphsSpriteHeart__filled__24__grey_9, .glyphsSpriteHeart__filled__24__red_5, .glyphsSpriteHeart__outline__24__grey_9, .glyphsSpriteHome__filled__24__grey_9, .glyphsSpriteHome__outline__24__grey_9, .glyphsSpriteIG_Lite_Direct_Variant_01, .glyphsSpriteIgtv__outline__24__blue_5, .glyphsSpriteIgtv__outline__24__grey_5, .glyphsSpriteInfo__outline__24__grey_9, .glyphsSpriteInput_clear, .glyphsSpriteLink__outline__24__grey_9, .glyphsSpriteLite_app_icon, .glyphsSpriteLocation__outline__24__grey_9, .glyphsSpriteLock__outline__24__grey_9, .glyphsSpriteLogged_Out_QP_Glyph, .glyphsSpriteMail__outline__24__grey_9, .glyphsSpriteMobile_nav_type_logo, .glyphsSpriteMore_horizontal__filled__24__grey_0, .glyphsSpriteMore_horizontal__outline__24__grey_5, .glyphsSpriteMore_horizontal__outline__24__grey_9, .glyphsSpriteNew_post__outline__24__grey_9, .glyphsSpritePaging_chevron, .glyphsSpritePhoto__outline__24__grey_9, .glyphsSpritePhoto_grid__outline__24__blue_5, .glyphsSpritePhoto_grid__outline__24__grey_5, .glyphsSpritePhoto_list__outline__24__blue_5, .glyphsSpritePhoto_list__outline__24__grey_5, .glyphsSpriteSafari__outline__24__grey_9, .glyphsSpriteSave__filled__24__grey_9, .glyphsSpriteSave__outline__24__blue_5, .glyphsSpriteSave__outline__24__grey_5, .glyphsSpriteSave__outline__24__grey_9, .glyphsSpriteSearch, .glyphsSpriteSearch__filled__24__grey_9, .glyphsSpriteSearch__outline__24__grey_9, .glyphsSpriteSettings__outline__24__grey_9, .glyphsSpriteShare__outline__24__grey_9, .glyphsSpriteTag_up__outline__24__blue_5, .glyphsSpriteTag_up__outline__24__grey_5, .glyphsSpriteUser__filled__24__grey_0, .glyphsSpriteUser__filled__24__grey_9, .glyphsSpriteUser__outline__24__grey_9, .glyphsSpriteUser_follow__outline__24__grey_9, .glyphsSpriteUsers__outline__24__grey_9, .glyphsSpriteVerified_small, .glyphsSpriteVideo_chat__outline__24__grey_9, .glyphsSpriteWhatsapp__outline__24__grey_9, .glyphsSpriteWhite_Close, .glyphsSpriteX__outline__24__grey_9 {
        background-image: url(../image/095009cdab40.png)
    }

    .glyphsSpriteAdd__outline__24__blue_5 {
        background-size: 282px 273px;
        background-position: -183px -125px
    }

    .glyphsSpriteAdd__outline__24__grey_9, .glyphsSpriteApp_Icon {
        background-size: 282px 273px;
        background-position: -175px -199px
    }

    .glyphsSpriteApp_Icon {
        background-position: -126px -106px
    }

    .glyphsSpriteApp_instagram__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: 0 -174px
    }

    .glyphsSpriteApp_messenger__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -100px -174px
    }

    .glyphsSpriteApp_twitter__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -208px -25px
    }

    .glyphsSpriteApp_whatsapp__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -125px -199px
    }

    .glyphsSpriteCall__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -233px -50px
    }

    .glyphsSpriteCamera__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -233px -125px
    }

    .glyphsSpriteChevron_left__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -233px -175px
    }

    .glyphsSpriteChevron_right__outline__24__grey_5 {
        background-size: 282px 273px;
        background-position: -104px -144px
    }

    .glyphsSpriteCircle__outline__24__grey_2 {
        background-size: 282px 273px;
        background-position: -129px -144px
    }

    .glyphsSpriteCircle_add__outline__24__grey_5 {
        background-size: 282px 273px;
        background-position: -154px -144px
    }

    .glyphsSpriteCircle_add__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -183px 0
    }

    .glyphsSpriteCircle_check__filled__24__blue_5 {
        background-size: 282px 273px;
        background-position: -183px -25px
    }

    .glyphsSpriteComment__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -183px -50px
    }

    .glyphsSpriteComment_like, .glyphsSpriteComment_like_active {
        background-size: 282px 273px;
        background-position: -89px -249px
    }

    .glyphsSpriteComment_like {
        background-position: -76px -249px
    }

    .glyphsSpriteContact_import_sm {
        background-size: 282px 273px;
        background-position: -157px -106px
    }

    .glyphsSpriteContact_import {
        background-size: 282px 273px;
        background-position: -73px -110px
    }

    .glyphsSpriteDelete__outline__24__grey_0 {
        background-size: 282px 273px;
        background-position: -25px -174px
    }

    .glyphsSpriteDirect__outline__24__grey_0 {
        background-size: 282px 273px;
        background-position: -50px -174px
    }

    .glyphsSpriteDirect__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -75px -174px
    }

    .glyphsSpriteDirect_glyph_heart {
        background-size: 282px 273px;
        background-position: -73px -71px
    }

    .glyphsSpriteFacebook__filled__24__fb_connect_blue {
        background-size: 282px 273px;
        background-position: -125px -174px
    }

    .glyphsSpriteFB_Logo, .glyphsSpriteFacebook__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -150px -174px
    }

    .glyphsSpriteFB_Logo {
        background-position: -183px -150px
    }

    .glyphsSpriteForward__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -208px 0
    }

    .glyphsSpriteGlyph_circle_star {
        background-size: 282px 273px;
        background-position: -126px -57px
    }

    .glyphsSpriteGlyph_heart_media_outline {
        background-size: 282px 273px;
        background-position: -233px -200px
    }

    .glyphsSpriteGlyph_heart_media {
        background-size: 282px 273px;
        background-position: -208px -175px
    }

    .glyphsSpriteGlyph_volume_off, .glyphsSpriteGrey_Close {
        background-size: 282px 273px;
        background-position: -50px -249px
    }

    .glyphsSpriteGrey_Close {
        background-position: -114px -82px
    }

    .glyphsSpriteHashtag__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -208px -150px
    }

    .glyphsSpriteHeart__filled__24__grey_9 {
        background-size: 282px 273px;
        background-position: 0 -199px
    }

    .glyphsSpriteHeart__filled__24__red_5 {
        background-size: 282px 273px;
        background-position: -25px -199px
    }

    .glyphsSpriteHeart__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -50px -199px
    }

    .glyphsSpriteHome__filled__24__grey_9 {
        background-size: 282px 273px;
        background-position: -75px -199px
    }

    .glyphsSpriteHome__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -100px -199px
    }

    .glyphsSpriteIG_Lite_Direct_Variant_01 {
        background-size: 282px 273px;
        background-position: 0 0
    }

    .glyphsSpriteIgtv__outline__24__blue_5 {
        background-size: 282px 273px;
        background-position: -150px -199px
    }

    .glyphsSpriteIgtv__outline__24__grey_5 {
        background-size: 282px 273px;
        background-position: -99px -110px
    }

    .glyphsSpriteInfo__outline__24__grey_9, .glyphsSpriteInput_clear {
        background-size: 282px 273px;
        background-position: -200px -199px
    }

    .glyphsSpriteInput_clear {
        background-position: -258px -225px
    }

    .glyphsSpriteLink__outline__24__grey_9, .glyphsSpriteLite_app_icon {
        background-size: 282px 273px;
        background-position: -233px -25px
    }

    .glyphsSpriteLite_app_icon {
        background-position: 0 -71px
    }

    .glyphsSpriteLocation__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -233px -75px
    }

    .glyphsSpriteLock__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -233px -100px
    }

    .glyphsSpriteLogged_Out_QP_Glyph {
        background-size: 282px 273px;
        background-position: -126px 0
    }

    .glyphsSpriteMail__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -233px -150px
    }

    .glyphsSpriteMobile_nav_type_logo {
        background-size: 282px 273px;
        background-position: 0 -144px
    }

    .glyphsSpriteMore_horizontal__filled__24__grey_0 {
        background-size: 282px 273px;
        background-position: 0 -224px
    }

    .glyphsSpriteMore_horizontal__outline__24__grey_5 {
        background-size: 282px 273px;
        background-position: -25px -224px
    }

    .glyphsSpriteMore_horizontal__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -50px -224px
    }

    .glyphsSpriteNew_post__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -75px -224px
    }

    .glyphsSpritePaging_chevron {
        background-size: 282px 273px;
        background-position: -100px -224px
    }

    .glyphsSpritePhoto__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -125px -224px
    }

    .glyphsSpritePhoto_grid__outline__24__blue_5 {
        background-size: 282px 273px;
        background-position: -150px -224px
    }

    .glyphsSpritePhoto_grid__outline__24__grey_5 {
        background-size: 282px 273px;
        background-position: -175px -224px
    }

    .glyphsSpritePhoto_list__outline__24__blue_5 {
        background-size: 282px 273px;
        background-position: -200px -224px
    }

    .glyphsSpritePhoto_list__outline__24__grey_5 {
        background-size: 282px 273px;
        background-position: -225px -224px
    }

    .glyphsSpriteSafari__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -258px 0
    }

    .glyphsSpriteSave__filled__24__grey_9 {
        background-size: 282px 273px;
        background-position: -258px -25px
    }

    .glyphsSpriteSave__outline__24__blue_5 {
        background-size: 282px 273px;
        background-position: -258px -50px
    }

    .glyphsSpriteSave__outline__24__grey_5 {
        background-size: 282px 273px;
        background-position: -258px -75px
    }

    .glyphsSpriteSave__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -258px -100px
    }

    .glyphsSpriteSearch__filled__24__grey_9 {
        background-size: 282px 273px;
        background-position: -258px -125px
    }

    .glyphsSpriteSearch, .glyphsSpriteSearch__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -258px -150px
    }

    .glyphsSpriteSearch {
        background-position: -114px -71px
    }

    .glyphsSpriteSettings__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -258px -200px
    }

    .glyphsSpriteShare__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: 0 -249px
    }

    .glyphsSpriteTag_up__outline__24__blue_5 {
        background-size: 282px 273px;
        background-position: -258px -175px
    }

    .glyphsSpriteTag_up__outline__24__grey_5 {
        background-size: 282px 273px;
        background-position: -233px 0
    }

    .glyphsSpriteUser__filled__24__grey_0 {
        background-size: 282px 273px;
        background-position: -208px -125px
    }

    .glyphsSpriteUser__filled__24__grey_9 {
        background-size: 282px 273px;
        background-position: -208px -100px
    }

    .glyphsSpriteUser__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -208px -75px
    }

    .glyphsSpriteUser_follow__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -208px -50px
    }

    .glyphsSpriteUsers__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -175px -174px
    }

    .glyphsSpriteVerified_small {
        background-size: 282px 273px;
        background-position: -63px -249px
    }

    .glyphsSpriteVideo_chat__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -183px -100px
    }

    .glyphsSpriteWhatsapp__outline__24__grey_9, .glyphsSpriteWhite_Close {
        background-size: 282px 273px;
        background-position: -183px -75px
    }

    .glyphsSpriteWhite_Close {
        background-position: -114px -92px
    }

    .glyphsSpriteX__outline__24__grey_9 {
        background-size: 282px 273px;
        background-position: -25px -249px
    }
}