.mask {
    position: absolute;
    top: 68%;
    left: 5%;
    width: 90%;
    height: 20%;
    background: rgba(101, 101, 101, 0.6);
    color: #ffffff;
    opacity: 0;
}

.mask h3 {
    text-align: center;
}

.img_div:hover .mask {
    opacity: 1;
}
.likeThisBtn{
    margin-top: 3%
}