.live {
    overflow: hidden;
}

.live>li {
    list-style: none;
    position: relative;
    padding: 0 0 0 2em;
    margin: 0 0 .5em 10px;
    -webkit-transition: .12s;
    transition: .12s;
}

.live>li::before {
    position: absolute;
    content: '\2022';
    font-family: Arial;
    color: #FFF;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 2em;
    opacity: .5;
    line-height: .75;
    -webkit-transition: .5s;
    transition: .5s;
}

.live>li:hover::before {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 1;
    text-shadow: 0 0 4px;
    -webkit-transition: .1s;
    transition: .1s;
}

.live.type2>li::before {
    content: '';
    width: 10px;
    height: 10px;
    background: #FFF;
    border-radius: 3px;
    line-height: 0;
    top: .27em;
    left: 5px;
}

.live.type2>li:hover::before {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border-radius: 5px;
    width: 25px;
    left: -10px;
    background: #BA5353;
}

